$color: white !default;

@mixin title($underline-size: 0.5rem){
  font-weight: bold;
  font-size: 20pt;
  position: relative;
  padding: 2rem 0;
  text-decoration: underline;
  text-decoration-color: #ea1c24;
  text-decoration-thickness: $underline-size;
  text-decoration-skip-ink: none;
  text-decoration-skip: auto;
  text-underline-offset: 5px;
}

.section {
  color: white;
  padding: 2rem;
  padding-top: 0;
  font-size: 15pt;
  &__title {
    @include title;
  }

  &--sub {
    &__title {
      @include title(0.3rem);
    }
  }

  & ul {
    padding: 1rem 2rem;
  }
}